@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for cleaner look */
body {
  @apply bg-brand-dark text-white font-sans antialiased overflow-x-hidden;
}